/* CSS FLEX BOX */

*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify content align child item along the same axis */
    align-items: center;
    /* align items align child item along the cross axis */
    background-color: rgb(51, 51, 51);
    color:#f8f8f8;
   
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 10px;
}
.menu-item{
    margin: 10px;
}